doctype html
html
	head
		title Famous Characters
		script(src='characters.js')
	body
		h1 Famous Characters

		div
			input(
			type= "checkbox"
			name= "characters"
			id= "avengers"
			value= "avengers"
			)
			label(
			for= "avengers") Avengers

			input(
			type= "checkbox"
			name= "characters"
			id= "batman"
			value= "batman"
			)
			label(
			for= "batman") Batman

			input(
			type= "checkbox"
			name= "characters"
			id= "harrypotter"
			value= "harry_potter"
			)
			label(
			for= "harrypotter") Harry Potter

			br

			input(
			type= "radio"
			name= "name"
			id= "name"
			value= "name"
			)
			label(
			for= "name") Prénom

			input(
			type= "radio"
			name= "name"
			value= "surname"
			id= "surname"
			)
			label(
			for= "surname") Nom

			br

			button GO

		div(id= "table")
